.frame {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    width: 60%;
    margin: auto;
}

.line {
    border-bottom: 5px solid #9B51E0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.square {
    background: none;
    border: 3px solid #FFC740;
    box-sizing: border-box;
    height: 48px;
    left: 380px;
    position: absolute;
    top: 50px;
    width: 50px;
}

.logo {
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 3px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    height: 23px;
    left: 404px;
    position: absolute;
    top: 60px;
}

.input {
    background: #FFFFFF;
    border: 1px solid #6D3D99;
    box-sizing: border-box;
    height: 33px;
    left: 1322px;
    position: absolute;
    top: 63px;
    width: 201px;
}

.go {
    background: #9B51E0;
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    height: 31px;
    left: 1480px;
    line-height: 16px;
    position: absolute;
    top: 64px;
    width: 42px;
}

.menu{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.menu__button-home {
    background: #FFC740;
    border: none;
    color: #FFFFFF;
    display: inherit;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: 47px;
    justify-content: center;
    left: 147px;
    line-height: 16px;
    top: 94px;
    width: 123px;
}

.menu__button{
    background: #FFFFFF;
    border: none;
    color: #050505;
    display: inherit;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: 47px;
    justify-content: center;
    left: 147px;
    line-height: 16px;
    top: 94px;
    width: 123px;
}

.menu__button-contact {
    background: #FFFFFF;
    border: none;
    color: #050505;
    display: inherit;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: 47px;
    justify-content: center;
    left: 147px;
    line-height: 16px;
    top: 94px;
    width: 106px;
}

.image {
    display: flex;
    filter: brightness(60%);
    width: 100%;
    height: 408px;
    overflow: hidden;
    min-width: 980px;
    padding-bottom: 2rem;

}

.image__background {
    width: 100%;
    margin: -14% 0 0 0;
}

.head-text {
    /* Aliquam pharetra vulputate */
    color: #FFC740;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: normal;
    height: 150px;
    left: 434px;
    line-height: 75px;
    position: absolute;
    text-align: left;
    top: 228px;
    width: 510px;
}

.head-content {
    height: 145px;
    left: 434px;
    position: absolute;
    top: 368px;
    width: 486px;

}

.head-p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 130px;
    left: 0;
    line-height: 18px;
    position: absolute;
    top: 32px;
    text-align: left;
    width: 514px;
    filter: brightness(90%);
}


.head-button {
    background: #6D3D99;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 34px;
    left: 0;
    line-height: 16px;
    position: absolute;
    top: 140px;
    width: 124px;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: auto;
}

.posts-upper {
    display: flex;
    justify-content: space-between;
}

.posts-position {
    padding-right: 2%;
    padding-bottom: 2%;
}

.posts-lower {
    display: flex;
    justify-content: space-between;
}




.images {
    display: flex;
    width: 100%;
    height: 137px;
    overflow: hidden;
    min-width: 138px;
    border: 2px solid #FFC740;
    padding: 0.15rem;

}

.images__dog {
    width: 114%;
    margin: 0 0 0 0;
}

.images__jobs {
    width: 160%;
    margin: 0 0 0 -20%;
}

.images__lemur {
    width: 126%;
    margin: 0 0 0 -22px;
}

.images__rapunc {
    width: 140%;
    height: 150%;
    margin: 0 0 0 0;
}

.posts-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    margin: 0;
    text-align: justify;
    line-height: 18px;
    /*line-height: 136%;*/
}

.posts-paragraph-footer {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    margin-top: 0.5rem;
    text-align: left;
    text-decoration: underline;
}

.post-upper-line {
    display: flex;
    padding-bottom: 3%;
}

.post-content {
    display:flex;
}

.post-content-position {
    padding-left: 3%;
}

.post-upper-line__head {
    background: #9B51E0;

    height: 16px;
    left: 159px;
    top: 523px;
    width: 4%;
}

.post-upper-line__head-yellow {
    background: #FFC740;
    /*font-family: 'Roboto', sans-serif;*/
    height: 16px;
    left: 159px;
    top: 523px;
    width: 4%;
}

.post-upper-line__head2 {
    color: #000000;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    height: 17px;
    left: 179px;
    line-height: 22px;
    top: 523px;
    width: 48%;
}

.post-upper-line__head3 {
    background: #9B51E0;
    height: 16px;
    left: 318px;
    top: 523px;
    width: 100%;
}

.post-upper-line__head3-yellow {
    background: #FFC740;
    height: 16px;
    left: 318px;
    top: 523px;
    width: 100%;
}

.up-posts-bottom {
    background: #FFC740;
    height: 16px;
    left: 159px;
    top: 523px;
    width: 16px;
}

.up-posts-bottom2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 16px;
    left: 159px;
    top: 523px;
    width: 117px;
}

.up-posts-bottom3 {
    background: #FFC740;
    height: 16px;
    left: 159px;
    top: 523px;
    width: 228px;
}

.services {
    display:flex;
    justify-content: space-between;
    width: 98%;
    margin: auto;
}

.services-central-content {
    display: flex
}

.services-central-content__image {
    height: 48px;
    width: 50px;
}

.services-central-content__p {
    text-align: justify;
    width: 310px;
    margin: 0;
    font-size: small;
    padding-left: 0.2rem;
    line-height: 14px;
    font-family: 'Roboto', sans-serif;
}

.services-info {
    display: flex;
    flex-direction: column;
}


.services-content {
    text-align: justify;
    width: 360px;
    margin: 0;
    font-size: small;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
}

.services-footer {
    text-align: left;
    font-size: small;
    margin-top: 0.5rem;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
}

.footer-lines {
    overflow: hidden;
    display: flex;
    margin: auto;
    padding-top: 2%;
    width: 98%;
}

.footer-lines__line1 {

    background: #9B51E0;
    width: 16px;
}

.footer-lines__line2 {

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 90px;
}

.footer-lines__line3 {
    animation-name: lol;
    animation-duration: 3s;
    background: #9B51E0;
    width: 100%;
}

@keyframes lol {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }

}

.footer-images {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 98%;
}

.footer-images__image1 {
    height:98px;
    margin: 1rem;
    width:95px;
}

.footer-images__image2 {
    height:98px;
    margin: 1rem;
    width:98px;
}

.footer-images__image3 {
    height:79px;
    margin: 1rem;
    width:209px;
    padding-top:1%;
}

.footer-images__image4 {
    height:88px;
    margin: 1rem;
    width:162px;
}

.footer-images__image5 {
    height:72px;
    margin: 1rem;
    width:140px;
}

.footer {
    background-color: #6D3D99;
    color: #FFFFFF;
    text-align: center;
    line-height: 100px;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .line {
        width: 136%;
    }

    .frame {
        width: 130%;
    }

    .square {
        left: 23px;
        top: 50px;
    }

    .logo {
        left: 47px;
        top: 60px;
    }

    .input {
        left: 820px;
        top: 62px;
    }

    .go {
        left: 978px;
        top: 63px;
    }

    .menu {
        padding-left: 2.4%;
    }

    .image {
        padding-left: 2.4%;
    }

    .head-text {
        /* Aliquam pharetra vulputate */
        left: 50px;
        top: 242px;
    }

    .head-content {
        left: 50px;
        top: 380px;
    }

    .posts {
        padding-left: 3.4%;
    }

    .services {
        padding-left: 3.4%;
    }

    .services-content {
        width: 320px;
    }

    .services-central-content__p {
        width: 267px;
    }

    .up-posts-bottom3 {
        width: 187px;
    }

    .footer-lines {
        padding-left: 3.4%;
    }

    .footer-images {
        padding-left: 3.4%;
    }

    .footer {
        width: 136%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .line {
        width: 136%;
    }

    .frame {
        width: 130%;
    }

    .square {
        left: 31px;
        top: 50px;
    }

    .logo {
        left: 55px;
        top: 60px;
    }

    .input {
        left: 1162px;
        top: 60px;
    }

    .go {
        left: 1320px;
        top: 61px;
    }

    .menu {
        padding-left: 2.4%;
    }

    .image {
        padding-left: 2.4%;
    }

    .head-text {
        /* Aliquam pharetra vulputate */
        left: 50px;
        top: 242px;
    }

    .head-content {
        left: 50px;
        top: 380px;
    }

    .posts {
        padding-left: 3.4%;
    }

    .services {
        padding-left: 3.4%;
    }

    .services-content {
        width: 320px;
    }

    .services-central-content__p {
        width: 267px;
    }

    .up-posts-bottom3 {
        width: 187px;
    }

    .footer-lines {
        padding-left: 3.4%;
    }

    .footer-images {
        padding-left: 3.4%;
    }

    .footer {
        width: 136%;
    }
}

@media only screen and (min-width: 375px) and (max-height: 812px) and (orientation: portrait) {

    .line {
        width: 100%;
    }

    .frame {
        width: 100%;
    }

    .square {
        left: 94px;
        top: 34px;
    }

    .logo {
        left: 117px;
        height: 22px;
        top: 45px;
        width: 142px;
    }

    .input {
        left: 5px;
        height: 40px;
        top: 125px;
        width: 365px;
    }

    .go {
        left: 301px;
        font-size: 16px;
        height: 38px;
        top: 126px;
        width: 68px;
    }

    .menu {
        display: block;
        margin: auto;
        padding-top: 40%;
    }

    .menu__button-contact {
        width: 123px;
    }

    .image {
        display: flex;
        filter: brightness(60%);
        width: 101%;
        height: 408px;
        overflow: hidden;
        min-width: 300px;
        padding-bottom: 2rem;
    }

    .image__background {
        margin: -10% 0 0 -32%;
        width: 132%;
    }

    .head-text {
        color: #FFC740;
        font-family: 'Roboto', sans-serif;
        font-size: 169%;
        font-style: normal;
        height: 20%;
        left: 0px;
        line-height: 124px;
        position: absolute;
        text-align: center;
        top: 69%;
        width: 100%;
    }

    .head-content {
        height: 44%;
        left: 0;
        top: 79%;
        width: 100%;
    }

    .head-p {
        font-size: 19px;
        height: 190px;
        text-align: center;
        line-height: 120%;
        width: 100%;

    }

    .head-button {
        font-size: 15px;
        left: 66%;
        width: 120px;
        height: 50px;
        top: 56%;
    }

    .posts-position {
        padding-right: 0;
        width: 101%;
    }

    .posts-upper {
        flex-direction: column;
    }

    .post-upper-line__head {
        width: 10%;
    }

    .post-upper-line__head-yellow {
        width: 10%;
    }

    .post-upper-line__head2 {
        width: 100%;
    }

    .post-upper-line__head3 {
        width: 100%;
    }

    .posts-lower {
        flex-direction: column;
    }

    .post-content {
        flex-direction: column;
    }

    .images {
        display: flex;
        width: 98%;
        height: 200px;
        overflow: hidden;
        min-width: 364px;
        border: 2px solid #FFC740;
        padding: 0.15rem;
    }

    .images__dog {
        margin: -10% 0 -18% 0;
        width: 100%;
    }
    .images__lemur {
        width: 100%;
        margin: -10% 0 -10% 0;
    }

    .services {
        flex-direction: column;
        width: 85%;
        margin: auto;
    }

    .services-info {
        margin-top: 1rem;
    }

    .services-content {
        width: 320px;
    }

    .services-central-content__p {
        width: 267px;
    }

    .up-posts-bottom3 {
        width: 187px;
    }

    .footer-lines {
        padding-top: 5%;
        width: 101%;
    }

    .footer-images {
        justify-content: left;
    }

    .footer-images__image1 {
        height: 53px;
        margin: 1%;
        width: 50px;
    }

    .footer-images__image2 {
        height: 53px;
        margin: 1%;
        width: 53px;
    }

    .footer-images__image3 {
        height: 48px;
        margin: 1%;
        width: 94px;
        padding-top: 1%;
    }

    .footer-images__image4 {
        height: 53px;
        margin: 1%;
        width: 71px;
    }

    .footer-images__image5 {
        height: 37px;
        margin: 1%;
        width: 60px;
        padding-top: 2%;
    }

    .footer {
        width: 101%;
    }
}

@media only screen and (width: 812px) and (orientation: landscape) {


    .line {
        width: 136%;
    }

    .frame {
        width: 130%;
    }

    .square {
        left: 23px;
        top: 50px;
    }

    .logo {
        left: 47px;
        top: 60px;
    }

    .input {
        left: 876px;
        top: 62px;
    }

    .go {
        left: 1034px;
        top: 63px;
    }

    .menu {
        padding-left: 2.4%;
    }

    .image {
        padding-left: 2.4%;
    }

    .head-text {
        /* Aliquam pharetra vulputate */
        left: 50px;
        top: 242px;
    }

    .head-content {
        left: 50px;
        top: 380px;
    }

    .posts {
        padding-left: 3.4%;
    }

    .services {
        padding-left: 3.4%;
    }

    .services-content {
        width: 320px;
    }

    .services-central-content__p {
        width: 267px;
    }

    .up-posts-bottom3 {
        width: 187px;
    }

    .footer-lines {
        padding-left: 3.4%;
    }

    .footer-images {
        padding-left: 3.4%;
    }

    .footer {
        width: 136%;
    }
}